{% extends "base.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <div id="source">
    
    <div style="display:flex">
        <div class="sourcebox">
            <h5>LightGlue</h5>
            <p>url : <a href="https://github.com/cvg/lightglue">https://github.com/cvg/lightglue</a></p>
            <p>Descr : Recherche de points homologues</p>

        </div>
    </div>

    <div style="display:flex">
        <div class="sourcebox">
            <h5>Depth-Anything-V2</h5>
            <p>url : <a href="https://github.com/DepthAnything/Depth-Anything-V2">https://github.com/DepthAnything/Depth-Anything-V2</a></p>
            <p>Descr : Création de carte de profondeur</p>

        </div>
    </div>

    <div style="display:flex">
        <div class="sourcebox">
            <h5>OpenLayers</h5>
            <p>url : <a href="https://openlayers.org/">https://openlayers.org/</a></p>
            <p>Descr : Création de carte online</p>

        </div>
    </div>


    

    </div>
{% endblock %}